/*
app style css for pantiespizza.com
version 1.0
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
a{
  font-weight: bold;
  text-decoration: underline dotted;
}
.loader{
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lo{
  padding-left: 15px;
  font-weight: bold;
  font-size: large;
  color: black;
}
.custom-logo{
  width: 30%;
  height: auto;
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  opacity: 0.7;
  transition-duration: 0.3s;
  transition-delay: 1s;
}
/*HEADER STYLE*/

/*HOME PAGE(LANDING PAGE) STYLE*/
.swiper-container, .swiper-btm, #woo-container {
  width: 100%;
  height: auto;
  max-height: 100%;
  position: relative;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.aksen{
  width: 100%;
  min-height: 20%;
  position: absolute;
  z-index: 2;
  bottom: -2vw;
}
#section2{
	background-color:#ef0c15;
}
#section2 h5, .var-menu h5{
	font-size: 0.7em;
	font-weight: 600;
	letter-spacing: 0.1px;
}
#section2 h2, #section6 h2, #section2 h1, #section6 h1{
	font-size: 2em;
	font-weight: 900;
}
#section2 h1, #section6 h1{
	font-size: xxx-large;
	position: relative;
}
#section2 h1::before,#section6 h1::before, #section2 h1::after, #section6 h1::after {
  content: 'Rp.';
  font-size: large;
  font-weight: 600;
}
#section2 h1::after, #section6 h1::after{
  content: '-an';
}
#section2 p{
	font-size: x-small;
	font-weight: unset;
	letter-spacing: 0.1px;
	color: #ffc107;
}
#section3{
  position: relative;
}
#section-3-aksen-1{
  width: 100vw;
  min-height: 21vw;
  position: absolute;
  z-index: 2;
  top: -2vw;
}
#section-3-aksen-2{
  width: 100%;
  min-height: 47vw;
  position: absolute;
  z-index: 2;
  margin-top: -10%;
}
#section4 div{
  position: relative;
}
#section3 img, #section4 img{
  min-width: 100%;
  max-width: 100%;
  height: auto;
}
#section4 a{
  position: absolute;
  right: 1rem;
  bottom: 24vw;
}
#section4 div:nth-last-child(1) a{
  bottom: 13vw;
}
#section5{
  background: #efc70c;
  margin-top: -1vw;
}
#section6{
  background: #ef040d;
  position: relative;
}
.svg{
	width: 100%;
	height: 15vh;
	position: absolute;
}
.var-menu{
	background-color: #ef0c15;
	z-index: 3;
}
.var-menu h5, #section2 h1, #section6 h1{
	text-shadow: 1px 2px 6px rgba(0,0,0,0.62);
}
.vm-bg{
	height: 18vw;
	background-color: white;
	border-radius: 10px;
}
.ov-con{
	max-width: 100%;
	overflow-x: hidden;
}
.ov-con img{
	margin: 1vw 0 0 1vw;
	width: 18vw;
}
#section-6-mui{
  width: 2rem;
  height: 2rem;
}
/*SINGLE PAGE STYLE*/
#single-page, #page, #archive, #image, .say-body{
  width: 100vw;
  height: auto;
  font-family: 'Roboto', sans-serif;
  color: black;
}
#single-page h1, #page h1, #archive h1, #image h1, #woocommerce h1{
  font-size: 7vw;
  font-weight: 700;
  text-align: center;
  text-align: -webkit-center;
}
#single-page :is(p, ol, ul), #page :is(p, ol, ul){
  font-size: 4vw;
  font-weight: normal;
}
/*PAGE STYLE*/
.list-style-none{
  list-style: none;
}
/*ARCHIVE STYLE*/
.archive a, footer a{
	text-decoration: none;
	color: inherit;
}
.archive-list img{
	width: 100vw;
}
.archive-list :is(h1, h2, h3, h4, h5, h6, a){
	color: #262626;
}
/*MENU PIZZA STYLE*/
.menus{
  background-color: #ffc107ba;
}
.mitem{
  max-width: 48vw;
  margin: 1vw 1vw;
  padding: 1vw 1vw;
  background-color: white;
}
.mitem img{
  min-width: 100%;
}
.ww{
  white-space: normal;
  height: 6.15vw;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 0.85rem;
}
.hg{
  font-size: 1rem;
  color: #ef0c15;
  position: relative;
}
.hg span:nth-child(1){
  font-size: .75rem;
}
.hinfo{
  position: absolute;
  background-color: darkgray;
  color: rgb(0 0 0 / 50%);
  padding: 0.1em 0.6em;
  border-radius: 50%;
  font-size: 8px;
  top: 0em;
}
/*Contact Page STYLE*/
.con li{
  margin-left: -1.5rem;
  height: 2rem;
  color: inherit;
}
.wa::before,.ig::before,.fb::before,.tk::before,.tw::before,.ln::before{
  background-repeat: no-repeat;
  width: 6.5vw;
  display: block;
  float: left;
  transform: translateX(-15%);
}
/*woocommerce STYLE*/
.woocommerce-input-wrapper{
	width: 100%;
	display: block;
}
.say-cart{
  width: 2.6rem;
  height: auto;
  position: relative;
}
.say-cart img{
  height: 3em;
}
.say-cart span{
  background-color: #dc3545;
  width: 1.3rem;
  position: absolute;
  z-index: 3;
  right: -0.5em;
  bottom: -0.3em;
  color: white;
  text-align: center;
  border-radius: 50%;
}
/**/
.type-product{
   position: relative;
   background-color: #ffc107;
   border-radius: 0.5rem;
   box-shadow: 0px 0px 9px -2px rgb(0 0 0 / 20%);
   padding: 1.9rem 0.6rem 0.6rem !important;
   min-height: 30vw;
   margin-top: 25vw !important;
}
.type-product a img{
  max-width: 65vw;
  position: absolute;
  z-index: 2;
  top: -6rem;
  left: 50%;
  transform: translateX(-50%);
}
#woocommerce > div > div > div.product{
  background-color: #f8f9fa;
  margin-top: 34vw !important;
  margin-bottom: 1rem;
}
.woocommerce-product-gallery__image:nth-child(1) a > img{
  top: -46vw;
}.woocommerce-product-gallery__image:nth-child(n+2){
  margin-top: 5.2vw;
  margin-bottom: -5.9vw;
  padding: 0 0.4vw;
}
.woocommerce-product-gallery__image:nth-child(n+2) > a > img{
  position: relative;
  top: inherit !important;
  z-index: 1;
}
.related > ul > li > a > img{
  max-width: 30vw;
  top: -20vw;
}
.add_to_cart_button{
	background-color: #007bff !important;
	color: whitesmoke !important;
}
/*FOOTER STYLE*/
footer{
  background-color: #ef0c15;
}
footer ul{
  font-size: 1em;
  font-weight: bold;
}
footer li{
  height: 1.3rem;
  margin: 0;
  font-size: 0.8em;
  font-weight: normal;
}
.sm li::before{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
#fs2{
  background-color: #ad0006;
}