/*
app style css for pantiespizza.com
version 1.0
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.loader{
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lo{
  padding-left: 15px;
  font-weight: bold;
  font-size: large;
  color: black;
}
.custom-logo{
  width: 30%;
  height: auto;
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
}

/*HOME PAGE(LANDING PAGE) STYLE*/
.swiper-container, .swiper-btm {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.aksen{
  width: 100%;
  min-height: 20%;
  position: absolute;
  z-index: 2;
  bottom: -2vw;
}
#section2{
	background-color:#ef0c15;
}
#section2 h5, .var-menu h5{
	font-size: 0.7em;
	font-weight: 600;
	letter-spacing: 0.1px;
}
#section2 h2, #section6 h2, #section2 h1, #section6 h1{
	font-size: 2em;
	font-weight: 900;
}
#section2 h1, #section6 h1{
	font-size: xxx-large;
	position: relative;
}
#section2 h1::before,#section6 h1::before, #section2 h1::after, #section6 h1::after {
  content: 'Rp.';
  font-size: large;
  font-weight: 600;
}
#section2 h1::after, #section6 h1::after{
  content: '-an';
}
#section2 p{
	font-size: x-small;
	font-weight: unset;
	letter-spacing: 0.1px;
	color: #ffc107;
}
#section3{
  position: relative;
}
#section-3-aksen-1{
  width: 100vw;
  min-height: 21vw;
  position: absolute;
  z-index: 2;
  top: -2vw;
}
#section-3-aksen-2{
  width: 100%;
  min-height: 47vw;
  position: absolute;
  z-index: 2;
  margin-top: -10%;
}
#section4 div{
  position: relative;
}
#section3 img, #section4 img{
  min-width: 100%;
  max-width: 100%;
  height: auto;
}
#section4 a{
  position: absolute;
  right: 1rem;
  bottom: 24vw;
}
#section4 div:nth-last-child(1) a{
  bottom: 13vw;
}
#section5{
  background: #efc70c;
  margin-top: -1vw;
}
#section6{
  background: #ef040d;
  position: relative;
}
.svg{
	width: 100%;
	height: 15vh;
	position: absolute;
}
.var-menu{
	background-color: #ef0c15;
	z-index: 3;
}
.var-menu h5, #section2 h1, #section6 h1, #fs2 a{
	text-shadow: 1px 2px 6px rgba(0,0,0,0.62);
}
.vm-bg{
	height: 18vw;
	background-color: white;
	border-radius: 10px;
}
.ov-con{
	max-width: 100%;
	overflow-x: hidden;
}
.ov-con img{
	margin: 1vw 0 0 1vw;
	width: 18vw;
}
#section-6-mui{
  width: 2rem;
  height: 2rem;
}
footer{
	background-color: #ef0c15;
}
footer ul{
	font-size: 1em;
	font-weight: bold;
}
footer li{
	font-size: 0.8em;
	font-weight: normal;
}
#fs2{
	background-color: #ad0006;
}

/*SINGLE PAGE STYLE*/
#single-page{
  width: 100vw;
  height: auto;
  font-family: 'Roboto', sans-serif;
  color: black;
}
#single-page h1{
  font-size: 7vw;
  text-align: center;
  text-align: -webkit-center;
}
#single-page :is(p, ol){
  font-size: 4vw;
  font-weight: normal;
}